.git/
.vs/
/TestResults
_ReSharper.*/
PublishProfiles/
packages/
artifacts/
App_Data/
bower_components/
node_modules/
.build/

/Obj/
/obj/
/bin/
/Bin/

*.xap
*.user
*.vspscc
*.vssscc
*.suo
*.cache
*.docstates
*.log
_ReSharper.*
*.vspx
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.symbols
*net45.csproj
*k10.csproj
*.sln.ide
*.ng.ts
launchSettings.json